{% extends 'auto/layout.html' %}

{% block body%}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="btn-group-vertical btn-block">
                {% for car in object_list %}
                <a class="btn btn-default btn-lg" href={{ car.get_absolute_url }} role="button">
                    {{ car }}
                </a>
                {% empty %}
                <a class="btn btn-default btn-lg" href={% url 'admin:index' %} role="button">
                    Admin
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
