{% extends 'auto/layout.html' %}

{% block body%}
<div class="container">
    <h3>{{ part }}</h3>
    <div class="row">
        <div class="col">
            <div class="btn-group-vertical btn-block">
                {% if part.inspection %}
                <a class="btn btn-default btn-lg" href={{ part.inspection.get_absolute_url }} role="button">
                    {{ part.inspection }}
                </a>
                {% else %}
                <form action={% url 'auto:configureinspection' %} method="post">
                    <h4>Add Inspection Interval</h4>
                    {% include 'auto/form_snippet.html' with form=inspectionform %}
                </form>
                {% endif %}
                {% if part.replacement %}
                <a class="btn btn-default btn-lg" href={{ part.replacement.get_absolute_url }} role="button">
                    {{ part.replacement }}
                </a>
                {% else %}
                <form action={% url 'auto:configurereplacement' %} method="post">
                    <h4>Add Replacement Interval</h4>
                    {% include 'auto/form_snippet.html' with form=replacementform %}
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
